/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
/* 
.wp-block-create-block-custom-cta {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
} */

.alignLeft {
	clear: both;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	float: none;
}

.alignCenter {
	clear: both;
	display: flex;
	flex-direction: row;
	justify-content: center;
	float: none;
}

.alignRight {
	clear: both;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	float: none;
}

.buttonContainer {
	display: flex;
}

.cta-container {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 24px 24px 28px;
}

.cta-button {
	background: #2C61F3;
	border-radius: 47px;
}

.cta-button-text {
	padding: 9px 15px;
}
